      #actionButtons {
        display: flex;
        align-items: center;
        padding: 2px 10px;
        justify-content: space-between;
      }
      #validateButton {
        cursor: pointer;
        padding: 5px;
        border: 1px solid var(--vscode-editor-foreground);
        color: var(--vscode-editor-foreground);
        background-color: var(--vscode-editor-background);
      }
			.copy-button {
				cursor: pointer;
				padding: 5px;
				border: 1px solid #ccc;
				background-color: #f9f9f9;
			}
			#copyFeedback {
				display: none;
				color: var(--vscode-editor-foreground);
			}
      .toast {
        color: rgb(101, 57, 61);
        background-color: rgba(250, 150, 158, 0.879);
        border-color: rgb(247, 138, 149);
        border: 1px solid;
        text-align: center;
        border-radius: 2px;
        padding: 4px;
        z-index: 1;
        display: none;
        transition: opacity 0.5s linear;
    }
    .toast.show {
        display: block;
    }
    
    .toastContent {
      padding: 10px;
  }
  .toastTitle {
      font-weight: bold;
      margin-bottom: 5px;
      color: rgba(177, 25, 25, 0.847);
  }
  .toastDetails {
      font-size: 0.9em;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
  }
  .pipelineName {
      color: #0b3f0d; /* Green */
  }
  .issues {
      color: #F44336; /* Red */
  }

 